body {
    margin: 0;
    padding: 0;
    font-family: 'Cantata One', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 50% 1fr;
    background-color: #7D8F72;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

header {
    grid-row: 1;
    grid-column: 1 / -1; /* Span across all columns */
    background-color: black;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}

header h1 {
    font-size: 34px;
}

main {
    grid-row: 2;
    grid-column: 2; /* Center the main content */
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 20px; /* Add gap between columns */
}

footer {
    grid-row: 3;
    grid-column: 1 / -1; /* Span across all columns */
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #C4BBAF;
    margin-top: 10px;
}

.options {
    grid-row: 4;
    grid-column: 1 / -1; /* Span across all columns */
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.goButton {
    margin: 0 10px;
}

.goButton button {
    background-color: transparent;
    border: 3px solid #ffffff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Cantata One', sans-serif;
}

.goButton button:hover {
    background-color: #7eaa74;
}

img {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}

